.add-question-post-btn
{
  position: fixed;
  right: 0px;
  bottom: 0px;
  .add-question-post-btn
  {
    border-radius: 50%;
    border: none;
    background-color: lightblue;
    width: 40px;
    height: 40px;
  }
}
