<!-- <div class="container">
  <h2>Simple Collapsible</h2>
  <p>Click on the button to toggle between showing and hiding content.</p>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div> -->
<!-- <div [innerHtml]="questionListHtml">

</div> -->
<!--Modal to create posts-->
<div *ngIf="modalContainer" class="forum-modal-container">
  <div class="row modal-row">
    <div class="row post-name-container col-xs-12 col-md-12">
      <div class="post-name-label col-xs-3 col-md-2">
        Name:
      </div>
      <div class="post-name-input-container col-xs-9 col-md-10">
        <input class="post-name-input" type="text" name="name" [(ngModel)]="name" placeholder="{{requiredInputText}}" />
      </div>
    </div>

    <div class="row post-response-container col-xs-12 col-sm-> col-md-9">
      <div class="post-response-label col-xs-3">
        {{postType}}:
      </div>
      <div class="post-response-input-container col-xs-9">
        <textarea class="post-response-input" [(ngModel)]="response" placeholder="{{requiredResponseText}}"></textarea>
      </div>
    </div>
    <!--cancel and accept buttons-->
    <div class="row post-button-container col-xs-12 col-sm-3 col-md-3">
      <div class="post-input-cancel-button-container col-xs-5 col-sm-12 col-md-12">
        <button (click)="closePostInputModal()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <div class="col-xs-2 col-sm-12 col-md-12">
        <br />
      </div>
      <div class="post-input-accept-button-container col-xs-5 col-sm-12 col-md-12">
        <button (click)="createPostFunction()">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="question-post-list-container" *ngFor="let question of questionList; let i = index">
  <div class="row">
    <div class="question-post-container col-xs-9">
      <app-post
        [name]="question.name"
        [response]="question.response"
        [timeStamp]="question.timeStamp"></app-post>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <div *ngIf="question.replies.length > 0" class="row">
    <div class="col-xs-9">
    </div>
    <div class="col-xs-3">
      <a (click)="showReplies(i)"><span *ngIf="!question.showReplies">show</span><span *ngIf="question.showReplies">hide </span> responses <span *ngIf="!question.showReplies" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><span *ngIf="question.showReplies" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
    </div>
  </div>

  <div *ngIf="question.showReplies">
    <div class="reply-post-list-container" *ngFor="let reply of question.replies">
      <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="reply-post-container col-xs-9">
          <app-post
            [name]="reply.name"
            [response]="reply.response"
            [timeStamp]="reply.timeStamp"></app-post>
        </div>
      </div>
    </div>
  </div>

  <div class="add-reply-post-btn-container">
    <button (click)="getReplyPostInformation(i)">
      <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
    </button>
  </div>
</div>

<div class="add-question-post-btn">
  <button class="add-question-post-btn" (click)="getQuestionPostInformation()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </button>
</div>
