<div class="responsive-nav-sidebar responsive-nav-animate-left" style="display:none" id="mySidebar">
  <button id="responsiveNavClose" class="responsive-nav-bar-item responsive-nav-button glyphicon glyphicon-arrow-left" (click)="closeSidebar()"></button>
  <div class="row">
    <a routerLink="/home" class="responsive-nav-bar-item responsive-nav-button glyphicon glyphicon-home" (click)="closeSidebar()" routerLinkActive="active"></a>
    <h4>Home</h4>
  </div>
  <div class="row">
    <a routerLink="/forum" class="responsive-nav-bar-item responsive-nav-button glyphicon glyphicon-comment" (click)="closeSidebar()" routerLinkActive="active"></a>
    <h4>Forums</h4>
  </div>
  <div class="row">
    <a routerLink="/users" class="responsive-nav-bar-item responsive-nav-button glyphicon glyphicon-user" (click)="closeSidebar()" routerLinkActive="active"></a>
    <h4>Users</h4>
  </div>
</div>
<div class="w3-main" id="main">
  <div class="w3-teal">
    <a id="responsiveNavHamburgerButton">
      <span class="glyphicon glyphicon-menu-hamburger" (click)="openSidebar()"></span>
    </a>
  </div>
</div>
<div class="app-title-bar">
  <div id="app-title-bar-title">
    {{title}}
  </div>
  <div id="app-title-bar-links" class="container">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/forum" routerLinkActive="active">Forums</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">Personnel</a>
      </li>
    </ul>
  </div>
</div>
<!-- PUT NORMAL NAV BAR HERE -->
<div class="router-content">
  <router-outlet></router-outlet>
</div>
