<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <!-- <nav>
    <ul>
      <li>
        <a routerLink="/home" href="">
          Home
        </a>
      </li>
      <li>
        <a routerLink="" href="">
          About Us
        </a>
      </li>
      <li>
        <a routerLink="" href="">
          Forums
        </a>
      </li>
    </ul>
  </nav> -->
  <!-- <div class="app-title-bar">
    <div id="app-title-bar-title">ACE</div>
    <div id="app-title-bar-subheading"></div>
  </div> -->

<!-- WILL CODE -->

  <div class="responsive-nav-sidebar responsive-nav-animate-left" style="display:none" id="mySidebar">
    <button id="responsiveNavClose" class="responsive-nav-bar-item responsive-nav-button"(click)="closeSidebar()">Close &times;</button>
    <a routerLink="/home" class="responsive-nav-bar-item responsive-nav-button" (click)="closeSidebar()">Home</a>
    <a routerLink="/channels" class="responsive-nav-bar-item responsive-nav-button" (click)="closeSidebar()">Channels</a>
    <a routerLink="/members-page" class="responsive-nav-bar-item responsive-nav-button" (click)="closeSidebar()">Members</a>
    <a routerLink="" class="responsive-nav-bar-item responsive-nav-button" (click)="closeSidebar()">Other</a>
  </div>

  <div zclass="w3-main" id="main">
    <div class="w3-teal">
      <button id="responsiveNavHamburgerButton" class="responsive-nav-button w3-teal w3-xlarge" (click)="openSidebar()">&#9776;</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</body>
</html>
