$primary-color: #243773;
$primary-text: #FFFFFF;
$secondary-color: #B7BEFF;
$secondary-text: #000000;

.post-img-container
{
  background: url('../../assets/bannerLight.png');
  background-size: cover;
  background-position: left;
  .post-container
  {
    margin: 5% 10% 5% 10%;

    .post-response-field
    {
      margin: 5% 0% 5% 10%;
    }
  }
}
