<div class="home-background-img">
  <img class="img-fluid" src="../../assets/ACE-Program.jpg" alt="Picture of student on tablet" />
  <h4>Build your career today</h4>
</div>

<section id="home-recruiting">
  <div class = "col-xs-12 home-section-title">
    <h4>Recruiting Overview</h4>
  </div>
  <div class="col-xs-12">
    <p>
      Typically requires 3 months of recruiting to source qualified candidates. Requires 2 - 2.5x the number of resumes necessary to fill a class
    </p>
  </div>
  <div class = "col-xs-12">
    <p>
      <b>Step #1:</b> Initial screening by recruiter who looks at:
      Experience, grades, employment status, salary requirements, willingness to relocate to Austin (either temporarily for boot camp only or permanently for DevCtr and initial feeling of their ‘soft skills’.  20-30 candidates for 5-10 spots.
    </p>
    <p>
      <b>Step #2:</b> Technical phone screen by a senior tech resource.
      Evaluated for general skills, problem solving capabilities, and ability to think on their feet (as well as soft skills, again).
    </p>
    <p>
      <b>Step #3:</b> Face a panel interview followed by a practical assessment; 90-minute programming/analysis test designed to ensure a candidates resume is reflective of their real-world abilities.  Those who pass both the panel and assessment are offered a position within the company.
    </p>
  </div>
</section>


<section id="home-employement-training">
  <div class = "col-xs-12 home-section-title">
    <h4>Employement/Training</h4>
  </div>
  <div class="col-xs-12">
    <p>
       ACE employees will be relocated to Austin and begin their training.
       A relocation bonus of $3000 is added to the employee's first paycheck.
       Compensation is based upon the market value in Austin plus standard billable bonus.
       We are currently working on a career progression model with incremental financial rewards based on milestones.
    </p>
  </div>
  <div class="col-xs-12">
    <p>
      Training will be focus on both technical and soft skills.
      The technical training will include web and java developement, while also immersing
      students in consulting cycle.
    </p>
  </div>
  <div class="home-timeline-img">
    <div class="col-xs-12">
      <p>
        The following is a previous timeline for the ACE program.
      </p>
    </div>
    <img class="img-fluid" src="../../assets/ACE-Program-Timeline.png" />
  </div>
</section>


<section id="home-statistics">
  <div class = "col-xs-12 home-section-title">
    <h4>Statistics</h4>
  </div>
  <div class="col-xs-12">
    <p>
      The following offers a broad overview of what the ACE Program offers.
    </p>
    <ul>
      <li>
        42 individuals have gone through our ACE program
      </li>
      <li>
        Disciplines included: Commerce, Mobility, Portal, Connections, Infrastructure, Rational, WebSphere, Business Analysis, Project Management
      </li>
      <li>
        Seasoned Consultants bring their real-world experience to the classroom to teach ACE curriculum
      </li>
      <li>
        Senior Management present their insight into operations, career growth, customer relationships, and time management
      </li>
      <li>
        Senior resource “buddies” continue to provide guidance and mentoring to ensure grads have support as they transition into billable roles
      </li>
      <li>
        Typical class size is 5-10 individuals
      </li>
    </ul>
  </div>
</section>
