$primary-color: #243773;
$primary-text: #FFFFFF;
$secondary-color: #B7BEFF;
$secondary-text: #000000;

.home-section-title {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: $secondary-color;
  color: $secondary-text;
}
.home-background-img {
  position: relative;
  img {
    max-width: 100%;
    height: auto;
  }
  h4 {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    padding: 5px;
    margin: 0;
    top: 50%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
  }
}
